html {
}
.toBottom {
    bottom : -20px;
    transition: all
}
.fromTop {
    top : -20px
}
//Scrollbar
body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: none;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: none;
}

.c-filter {
    filter: grayscale(100);
    transition: ease-in-out 1s;

    &:hover {
        filter: none;
    }
}
.swiper {
    //height: 70vh;
    margin-bottom: 32px;
    width: 100%;

    .swiper-slide {
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 360px;
        text-align: center;
        font-weight: bold;
        font-size: 6 * 2;
        border: 1px solid #acacac;
        backdrop-filter: blur(5px);
        background-position: center;
        background-size: cover;
        color: #fff;
        box-shadow: 31px 21px 125px -17px rgba(0,0,0,0.20);
        -webkit-box-shadow: 31px 21px 125px -17px rgba(0,0,0,0.20);
        -moz-box-shadow: 31px 21px 125px -17px rgba(0,0,0,0.20);
    }

    //.swiper-pagination {
    //    \deep\ .swiper-pagination-bullet.swiper-pagination-bullet-active {
    //        background-color: #fff;
    //    }
    //}
}
